*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #888484;
}

.calculator{
    height: 500px;
    width: 350px;
    border: 2px solid;
}